.footer {
    text-align: center;
    width: 90%;
    padding: 10px;
    color: black;
    position: fixed;  /* Make it fixed at the bottom */
    bottom: 0;
    left: 50%;  /* Move it to the center horizontally */
    transform: translateX(-50%);  /* Offset by 50% of its width to center it */
    font-size: 12px;
}
